.img-seller {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.6) 100%),
  url("/assets/imgs/seller.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #fff;
}
.img-buyer {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.6) 100%),
    url("/assets/imgs/buyer.svg");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-color: #fff;
}

.img-deal {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.6) 100%),
    url("/assets/imgs/deal.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #fff;
}