.shadow {
  box-shadow: 4px 0px var(--lightMotard);
}
.bg-lightGray-100 {
  background-color: #EAECEF;
}

.bg-lightPink-100 {
  background-color: var(--lightPink);
  background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(252, 213, 53, .25)


 50px, rgba(252, 213, 53, .25)


 100px), repeating-linear-gradient(90deg, rgba(252, 213, 53, .25)


, rgba(252, 213, 53, .25)


 50px, transparent 50px, transparent 100px), repeating-linear-gradient(135deg, transparent, transparent 4px, rgba(255, 255, 255, .1) 4px, rgba(255, 255, 255, .1) 8px), repeating-linear-gradient(45deg, transparent, transparent 4px, rgba(255, 255, 255, .1) 4px, rgba(255, 255, 255, .1) 8px), repeating-linear-gradient(transparent, transparent 20px, rgba(100, 250, 250, .2) 20px, rgba(100, 250, 250, .2) 21px, transparent 21px, transparent 29px, rgba(100, 250, 250, .2) 29px, rgba(100, 250, 250, .2) 30px, transparent 30px, transparent 50px), repeating-linear-gradient(90deg, transparent, transparent 20px, rgba(100, 250, 250, .2) 20px, rgba(100, 250, 250, .2) 21px, transparent 21px, transparent 29px, rgba(100, 250, 250, .2) 29px, rgba(100, 250, 250, .2) 30px, transparent 30px, transparent 50px);
}