<div class="text-black">

  <button  class="show-modal">
    <div class="grid grid-flow-col justify-between  border-gray-500 border-b-2  rounded-xl px-8 py-1 shadow bg-lightGray-100 ">
      <div class="px-6 font-bold text-black">Recherche</div>
      <div class=""> <img class="w-6 h-5" src="/assets/imgs/search.svg" alt=""></div>
    </div>
  </button>
  <div class="chercher-modal hidden ">
    <div class="h-screen w-full fixed left-0 top-0 flex justify-center items-center bg-black bg-opacity-50">
      <!-- modal -->
      <div class="bg-lightPink-100 rounded-3xl  shadow-lg w-10/12 md:w-1/3">
        <!-- modal header -->
        <div class="px-4 py-2 flex justify-between items-center">
          <button class="text-black close-modal text-xl font-bold">X</button>
        </div>
        <!-- modal body -->
        <form class="p-3 grid grid-flow-row" [formGroup]="contractForm" (ngSubmit)="onSubmit()">

          <div>
            <span class=" font-bold pr-1"> valeur a chercher</span> : <input class="rounded-lg border-2 border-black"   name="valeur"
              formControlName="valeur">
          </div>

          <div>
            <button #valid class="mt-4 border-1 border-black px-4 bg-blue-300 rounded-3xl"
              >valide</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>