<div>
  <button class="show-modal">
    <img src="/assets/imgs/eye.svg" alt="">
  </button>
  <div class="modal hidden ">
    <div class="h-screen w-full fixed left-0 top-0 flex justify-center items-center bg-black bg-opacity-50 close-modal">
      <!-- modal -->
      <div class="bg-white rounded-3xl  shadow-lg w-10/12 md:w-1/2">
        <!-- modal header -->
        <div class="px-4 py-2 flex justify-between items-center">
          <button class="text-black close-modal text-xl font-bold">X</button>
        </div>
        <!-- modal body -->
        <div class="p-3">
          <div class="grid grid-flow-row">
            <div class="grid grid-flow-col pb-6">
              <div>
                <span class="font-bold ">Date : </span>{{childContrat.date}}
              </div>
              <div>
                <span class="font-bold ">Contrat N° : </span>{{childContrat.id}}
              </div>
            </div>
          </div>
          <div class="grid grid-flow-row">
            <div class="grid grid-flow-col pb-6">
              <div></div>
              <div class="grid grid-flow-col">
                <div class="grid grid-flow-row">
                  <div>.</div>
                  <div><span class="font-bold">Owner :</span></div>
                  <div> <span class="font-bold">Bayer :</span></div>
                </div>
                <div class="grid grid-flow-row">
                  <div>
                    <span class="font-bold">Nom </span>
                  </div>
                  <div>
                    {{childContrat.seller.nom}}</div>
                  <div>
                    {{childContrat.buyer.nom}}</div>
                </div>
                <div class="grid grid-flow-row">
                  <div>
                    <span class="font-bold">Prenom </span>
                  </div>
                  <div>
                    {{childContrat.seller.prenom}}</div>
                  <div>
                    {{childContrat.buyer.prenom}}</div>
                </div>
                <div class="grid grid-flow-row">
                  <div>
                    <span class="font-bold">Cin </span>
                  </div>
                  <div>
                    {{childContrat.seller.cin}}</div>
                  <div>
                    {{childContrat.buyer.cin}}</div>
                </div>
                <div class="grid grid-flow-row">
                  <div>
                    <span class="font-bold">Tel</span>
                  </div>
                  <div>
                    {{childContrat.seller.tel}}</div>
                  <div>
                    {{childContrat.buyer.tel}}</div>
                </div>
              </div>
              <div></div>
            </div>
          </div>
          <div class="grid grid-flow-row justify-start">
            <div class="text-left pb-3"> <span class="font-bold">Type : </span> {{childContrat.prop.typePrp}}</div>
            <div class="text-left pb-3"><span class="font-bold">Cost : </span> {{childContrat.cost}}</div>
            <div class="text-left pb-3"><span class="font-bold">Description: </span></div>
            <div class="text-left pb-3">{{childContrat.prop.desc}}</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>