<div *ngIf="load" class=" grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 w-10/12 justify-items-center m-auto mt-24 gap-9">
  <div class="container card-container_1">
    <div class="card-body">
      <img class="card-img" src="../../../assets/imgs/card_1.png" alt="">
      <div class="card-title">
        <h1>we will build a correct contracts for you</h1>
      </div>
    </div>
  </div>
  <div class="container card-container_2">
    <div class="card-body">
      <img class="mt-16 mb-10 w-8/12 p-0 m-0" src="../../../assets/imgs/card_2.png" alt="">
      <div class="card-title">
        <h1>We offre you security using the technologie blockchain </h1>
      </div>
    </div>
  </div>
  <div class="container card-container_3">
    <div class="card-body ">
      <img class="card-img" src="../../../assets/imgs/card_3.png" alt="">
      <div class="card-title">
        <h1>we contrôle all transactions using etheruim</h1>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!load" class="absolute left-0 top-0" style="width:100vw; height:100vh;">
  <div class="bg-slate-400/50 w-full h-full flex">
    <img class="animate-spin duration-75 delay-1000 m-auto w-44" src="/assets/imgs/load.png" alt="">
  </div>
</div>