<div *ngIf="load" class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 justify-items-center mt-5 gap-0">
  <div
    class="flex justify-center items-center bg-lightMoutard-100 rounded  p-0 md:py-10 pb-10 sm:mb-2 xl:px-20 xl:mx-10">
    <div class="w-9/12 h-5/6 text-start ">
      <h1 class="text-5xl">RISEUP</h1>
      <p>
        RiseUp est une société fondée en decembre 2021 pour but
        d'informatise et securisé le secteur des contracts , il utilise
        la tecnologie blockchain de la société etheruim ,Ethereum
        est une blockchain décentralisée et open source avec une
        fonctionnalité de contrat intelligent. L'éther est la crypto
        -monnaie native de la plateforme. la platform RiseUp est
        developper avec une architecture desontralisé en se bason
        sur la smart contract et les tecnologies springboot et angular.
      </p>
    </div>
  </div>
  <div class="flex justify-center overflow-hidden">
    <img class="w-10/12 animate-slow-bounce"   src="../../../assets/imgs/aproposdenous.png" alt="Blockchain">
  </div>
</div>
<div *ngIf="!load" class="absolute left-0 top-0" style="width:100vw; height:100vh;">
  <div class="bg-slate-400/50 w-full h-full flex">
    <img class="animate-spin duration-75 delay-1000 m-auto w-44" src="/assets/imgs/load.png" alt="">
  </div>
</div>