<div class="fixed top-0 left-0 w-full h-full bg-slate-700 opacity-40 z-0" id="demo">
</div>
<div id="start_1" class="hidden bg-white rounded-2xl absolute top-1/3 left-1/4 p-9 font-bold">
  Taper ici pour accedée a l'espace pour ajouer une contract
  <div>
    <button (click)="skip()" class="bg-slate-500 rounded-2xl p-1 relative top-3">skip</button>
  </div>
</div>
<div id="start_2" class="hidden bg-white rounded-2xl absolute top-1/3 left-0 p-9 font-bold z-20">
  Taper ici pour chercher les donnes d'un client existent
  <div>
    <button (click)="skip()" class="bg-slate-500 rounded-2xl p-1 relative top-3">skip</button>
  </div>
</div>
<div id="start_3" class="hidden bg-white rounded-2xl absolute top-1/4 left-0 p-9 font-bold z-20">
  Taper ici username du client pour récupérer ses donnes
  <div>
    <button (click)="skip()" class="bg-slate-500 rounded-2xl p-1 relative top-3">skip</button>
  </div>
</div>
<div id="start_4" class="hidden bg-white rounded-2xl absolute top-1/2 left-0 p-9 font-bold z-20">
  Taper ici pour chercher les donnes d'un produit existent
  <div>
    <button (click)="skip()" class="bg-slate-500 rounded-2xl p-1 relative top-3">skip</button>
  </div>
</div>
<div id="start_5" class="hidden bg-white rounded-2xl absolute top-1/2 right-0 p-9 font-bold z-20">
  Enregistrer la contrat 😀
  <div>
    <button (click)="skip()" class="bg-slate-500 rounded-2xl p-1 relative top-3">skip</button>
  </div>
</div>
<div id="start_6" style="z-index: 5000;" class="hidden absolute w-full h-full left-0 rounded-2xl  right-0 p-9 font-bold">
  <!--The content below is only a placeholder and can be replaced.-->
  <div class="bg-white m-auto flex rounded-2xl opacity-90 w-1/4" style="height:70vh;">
    <div class="m-auto">
      <div class="checkmark-circle relative left-5">
        <div class="background"></div>
        <div class="checkmark draw"></div>
      </div>
      <div class="text-center">
        <h1>Félicitations!</h1>
        <p>Le contrat a été bien enregistré</p>
        <button class="bg-gray-500 rounded-2xl w-full z-50" (click)="endDemo()">Continue</button>
      </div>
    </div>
  </div>
  <ng-particles   id="tsparticles" [options]="options" (particlesInit)="particlesInit($event)">
  </ng-particles>
</div>